version: 1
formatters:
  detailed:
    format: "%(asctime)s - %(name)s - %(levelname)s - %(message)s"
handlers:
  console:
    class: logging.StreamHandler
    level: DEBUG
    formatter: detailed
    stream: ext://sys.stdout
loggers:
  uvicorn.access:
    level: INFO
  uvicorn.error:
    level: DEBUG
root:
  level: DEBUG
  handlers: [console]
